*{
    margin: 0;
    padding: 0;
}

/* Header Section */
body{
    font-family: "Inter", sans-serif;
    font-style: normal;

}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}
header nav .menu-bar ul{
    display: flex;
    gap: 32px;
}
header nav .menu-bar ul li{
    list-style: none;
}
header nav .menu-bar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* All button selector  */
.btn{
    border: none;
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.green-btn{
    background-color: rgba(70, 145, 101, 1);
}
.white-btn{
    background-color: transparent;
    border: 1px solid white;
}
.btn:hover{
    background-color: #ffff00;
    color: #000;
}

/* Hero Section */
header .hero-banner{
    background: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
    padding: 115px 120px 180px;
}
header .hero-banner .heading{
    text-align: center;
}
header .hero-banner .heading .status-btn{
    display: flex;
    justify-content: center;
}
.hero-banner .access-btn{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 6px;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: white;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}
.hero-banner .status-icon{
    width: 16px;
    height: 16px;
}
.hero-banner .heading h2{
    font-size: 72px;
    font-weight: 700;
    color: #fff;
}
.hero-banner .heading .green-heading{
    display: block;
    color: rgba(48, 184, 104, 1);
    margin-bottom: 16px;
}
.hero-banner .heading .description{
    font-size: 18px;
    color: #fff;
    margin-bottom: 32px;
}
.heading .function-button{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.heading .function-button .btn{
    display: flex;
    gap: 10px;
    align-items: center;
}
.heading .function-button .btn-icon{
    width: 24px;
    height: 24px;
}

/* Notes Section */
main .notes{
    margin: 80px 120px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
main .notes .heading{
    margin-bottom: 44px;
}
main .notes h3{
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
main section p{
    font-size: 16px;
    color: #627382;
}
.notes .notes-card{
    display: flex;
    gap: 24px;

}

.notes .notes-card .card{
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 70px 24px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.notes-card .card .image-icon{
    width: 32px;
    height: 32px;
    background-color: #F95555;
    border: none;
    border-radius: 50%;
    padding: 18px;
    display: flex;
    justify-content: center;
}
.notes-card .card h5{
    font-size: 24px;
    font-weight: 600;
}

/* Second Brain Section */
.second-brain{
    padding: 120px;
    display: flex;
    gap: 60px;
    background-color: #fff;
}
.second-brain img{
    border: none;
    border-radius: 12px;
}
.second-brain .message{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.second-brain .message .solution{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    text-transform: uppercase;
}
.second-brain .message h3{
    font-size: 48px;
    font-weight: 700;
}
.second-brain .message ul li{
    list-style: none;
}

/* Early Access Section  */
main .early-access{
    margin: 120px;
    padding: 80px 40px;
    background-color: rgba(247, 246, 242, 1);
    border: none;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.early-access .subtitle{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.early-access button{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Footer  */
footer .footer-box{
    padding: 80px 120px 30px;
    background-color: #001931;
}
footer .footer-box .icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
footer .footer-box .icon .social-link p{
    color: white;
    margin-bottom: 16px;
}
.footer-box .icon .social-link a{
    margin-right: 16px;
}
footer hr{
    border: none;
    border-top: 1px solid #e5e7eb2e;
    margin-bottom: 30px;
}
.footer-box .copyright-section{
    color: #FAFAFA;
    text-align: center;
}